// header nad menijem
#rsmm-nav-1 {
    background-color: $ZLATA;
    border: 0;
    border-radius: 0;
    height: $rsmm-nav1-height;
    min-height: $rsmm-nav1-height;
    
    #rsmm-noscript {
        font-weight: bold;
        background-color: $RUMENA;
        color: $RDECA;
        padding: 10px 10px;
    }
    .rsmm-nav-1-text {
        color: $BELA;
        font-family: $font-family-serif;
        font-size: 18px;
        font-weight: bold;
        margin: 15px 6px;
        
        a {
            color: inherit;
            &:focus {
                background-color: inherit;
            }
        }
    }

    // zastave
    $zastave-height: 25px;
    
    #rsmm-zastave {
        .rsmm-zastave-icon {
            float: left;
            height: $zastave-height;
            line-height: $zastave-height;
            text-align: center;
        }

        span {
            max-width: 24px;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;      
        }

        .rsmm-zastave-image {
            height: $zastave-height;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
            position: relative;
            top: -$zastave-height+4px; // popravi+- za vertikalno lego zastavic
            &:hover {
                opacity: 0.0;
            }
        }

        img {
            height: 18px;
            width: auto;
        }
    }
}

// meni
#rsmm-nav-2 {
    top: $rsmm-nav1-height;
    border: 0;
    border-radius: 0;
    height: $rsmm-nav2-height;
    min-height: $rsmm-nav2-height;
    
    font-family: $font-family-serif;
    font-size: 20px;
    font-weight: bold;

    .brand {
        font-size: 24px;
        a {
            padding-top: 27px;
        }
    }

    .dropdown-menu {
        border: 0;
    }
    
    li a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

// footer
#rsmm-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $rsmm-footer-height;
    min-height: $rsmm-footer-height;
    
    color: $BELA;
    background-color: $ZLATA;
    font-size: $font-size-small;
    font-weight: bold;
    border: 0;
    border-radius: 0;
    margin: 20px 0px 0px 0px;
    padding-top: 6px;

    a {
        color: inherit;
        &:focus {
            background-color: inherit;
        }
    }
}

// required body top and bottom margins for header and footer
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: $rsmm-nav1-height + $rsmm-nav2-height + 20px;
    margin-bottom: $rsmm-footer-height + 20px;
}    

// changes for phone screen
@media (max-width: $screen-sm-min) { 
    #rsmm-nav-1 {
        height: 2 * $rsmm-nav1-height;
        
        .rsmm-nav-1-text {
            margin: 3px 6px;
        }
    }
    
    #rsmm-nav-2 {
        top: 2 * $rsmm-nav1-height;
        height: $rsmm-nav2-height - 30px;
        min-height: $rsmm-nav2-height - 30px;
        
        .navbar-toggle {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        
        a {
            background-color: $BELA;
            &:hover {
                background-color: $TEMNORDECA;
            }
        }
        
        .active {
            a:hover {
                background-color: $BELA;
            }
        }
    }
    
    #rsmm-footer {
        height: 2 * $rsmm-footer-height;
    }
    
    body {
        padding-top: 2 * $rsmm-nav1-height + $rsmm-nav2-height + 20px - 30px;
        margin-bottom: 2 * $rsmm-footer-height + 20px;
    }
    
    .navbar {
        padding-left: 15px;
    }
}
