// header nad menijem
#rsmm-nav-1 {
    min-width: $rsmm-min-width;

    #rsmm-mailto {
        margin-right: 130px;  // zaradi mailto scripte
        a {
            width: 140px;
            display: inline-block;
        }
    }
    
    color: $BELA;
    background-color: $ZLATA;

    border: 0;
    border-radius: 0;
    height: $rsmm-nav1-height;
    min-height: $rsmm-nav1-height;

    font-family: Palanquin;

    #rsmm-noscript {
        font-weight: bold;
        background-color: $RUMENA;
        color: $RDECA;
        padding: 10px 10px;
    }
    .rsmm-nav-1-text {
        color: $BELA;
        font-size: 16px;
        font-weight: bold;
        margin: 15px 6px;
        
        a {
            color: inherit;
            &:focus {
                background-color: inherit;
            }
        }
    }

    // zastave
    $zastave-height: 25px;
    
    #rsmm-zastave {
        .rsmm-zastave-icon {
            color: $BELA;
            margin: 10px 6px;
            float: left;
            height: $zastave-height;
            line-height: $zastave-height;
            text-align: center;
        }

        span {
            max-width: 24px;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;      
        }

        .rsmm-zastave-image {
            height: $zastave-height;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;
            position: relative;
            top: -$zastave-height+4px; // popravi+- za vertikalno lego zastavic
            &:hover {
                opacity: 0.0;
            }
        }

        img {
            height: 18px;
            width: auto;
        }
    }
}

#rsmm-nav-margin-1 {
    background-color: $BELA;
    top: $rsmm-nav1-height;
    border: 0;
    border-radius: 0;
    height: $rsmm-nav-margin;
    min-height: $rsmm-nav-margin;
}

// meni
#rsmm-nav-2 {
    color: $ZLATA;
    background-color: $BELA;

    top: $rsmm-nav1-height + $rsmm-nav-margin;
    border: 0;
    border-radius: 0;
    height: $rsmm-nav2-height;
    min-height: $rsmm-nav2-height;
    
    font-family: ArsenalBold;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;

    .dropdown-menu {
        border: 0;
    }
    
    li {
        a {
            border-right-color: $ZLATA;
            border-right-width: 1px;
            border-right-style: solid;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    a.navbar-brand {
        font-size: 24px;
        border-left-color: $ZLATA;
        border-left-width: 1px;
        border-left-style: solid;
        border-right-color: $ZLATA;
        border-right-width: 1px;
        border-right-style: solid;
        padding-top: 9px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0px;
    }
    
    a.brand-active {
        color: $ZLATA;
    }
}

// margin below menu
#rsmm-nav-margin-2 {
    background-color: $BELA;
    top: $rsmm-nav1-height + $rsmm-nav-margin + $rsmm-nav2-height;
    border: 0;
    border-radius: 0;
    height: $rsmm-nav-margin;
    min-height: $rsmm-nav-margin;
}

// footer
#rsmm-footer {
    min-width: $rsmm-min-width;
    
    color: $BELA;
    background-color: $ZLATA;
    
    position: absolute;
    width: 100%;
    bottom: 0;
    height: $rsmm-footer-height;
    min-height: $rsmm-footer-height;
    
    border: 0;
    border-radius: 0;
    margin: 20px 0px 0px 0px;
    padding-top: 6px;

    font-family: Palanquin;
    
    .rsmm-foot-text {
        color: $BELA;
        font-size: 16px;
        font-weight: bold;
        margin: 15px 6px;
        a {
            color: inherit;
            &:focus {
                background-color: inherit;
            }
        }
    }
}

// required body top and bottom margins for header and footer
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: $rsmm-nav1-height + $rsmm-nav-margin + $rsmm-nav2-height + $rsmm-nav-margin;
    margin-bottom: $rsmm-footer-height + $rsmm-nav-margin;
}    

// changes for phone screen
@media (max-width: $screen-sm-min) { 
    #rsmm-nav-margin-1, #rsmm-nav-margin-2 {
        top: 0;
        height: 0;
        min-height: 0;
        margin: 0;
    }
    
    #rsmm-nav-1 {
        height: $rsmm-nav1-height-xs;
        
        .rsmm-nav-1-text {
            margin: 3px 6px;
        }
    }

    #rsmm-nav-2 {
        top: $rsmm-nav1-height-xs;
        height: $rsmm-nav2-height-xs;
        min-height: $rsmm-nav2-height-xs;
        
        .navbar-toggle {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        
        button.navbar-toggle {
            background-color: $ZLATA;
            margin-top: 2px;
        }
        
        a {
            background-color: $BELA;
            &:hover {
                color: $ZLATA;
            }
        }
        
        div.navbar-collapse {
            ul {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        li, li.brand, a, a.navbar-brand {
            a {
                border: none;
                padding-left: 10px;
            }
        }
    }

    #rsmm-footer {
        height: $rsmm-footer-height-xs;
        
        .rsmm-foot-text {
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
    
    body {
        padding-top: $rsmm-nav1-height-xs + $rsmm-nav2-height-xs + $rsmm-nav-margin;
        margin-bottom: $rsmm-footer-height-xs + $rsmm-nav-margin;
    }
        
    .navbar {
        padding-left: 15px;
    }
}
