// apartments
#rsmm-apartments {
    .rsmm-container {
        position: relative;
        width: 100%;
    }
    
    .rsmm-overlay {
        position: absolute; 
        bottom: 0; 
        background: rgba($TEMNOZLATA, 0.5);
        color: $BELA;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 16px;
        font-weight: bold;
        padding: 12px;
        text-align: center;
        
        p {
            margin: 0px;
        }
    }

    .rsmm-container:hover .rsmm-overlay {
        opacity: 1;
    }    
}

// gallery
#rsmm-gallery {
    .carousel-caption {
        left: 30px;
        padding-bottom: 0px;
        text-align: left;
        p {
            font-size: 20px;
            margin-bottom: 0px;
            // text-shadow: none;
        }
    }
    
    img {
        margin-bottom: 0px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

// about
#rsmm-about {
    img {
        margin-bottom: 0px;
    }
}

// za zacasno pospravit
#lalala {
    
}
