// about
#rsmm-about {
    .rsmm-container {
        position: relative;
        width: 100%;
    }
    
    .rsmm-overlay {
        position: absolute; 
        bottom: 0; 
        background: rgba($TEMNOZLATA, 0.5);
        color: $BELA;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 16px;
        font-weight: bold;
        padding: 12px;
        
        p {
            text-align: left;
            margin: 0px;
        }
    }

    .rsmm-container:hover .rsmm-overlay {
        opacity: 1;
    }    
}

// apartments
#rsmm-apartments {
    h4, p {
        text-align: left;
    }
    .rsmm-one-apartment {
        border-color: $TEMNOZLATA;
        border-style: solid;
        border-width: 1px;
        padding: 15px 30px;
        margin-bottom: 30px;
        color: $text-color;
    } 
    .rsmm-ap-naslov {
        margin-bottom: 30px;
    }
}

// location
#rsmm-location {
    h4, p {
        text-align: left;
    }
    
    #map {
        height: 640px;
    }
    
}

// gallery
#rsmm-gallery {
    .carousel-caption {
        left: 30px;
        padding-bottom: 0px;
        text-align: left;
        p {
            font-size: 20px;
            margin-bottom: 0px;
            // text-shadow: none;
        }
    }
    
    img {
        width: 32%;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 10px;
    }
    
    p {
        text-align: left;
    }
}
// changes for phone screen
@media (max-width: $screen-sm-min) { 
    #rsmm-gallery {
        img {
            width: 48%;
        }
    }
}
