// general settings
body {
    min-width: $rsmm-min-width;
    
    h1, h2, h3, h4, h5, h6 {
        color: $TEMNORDECA;
        text-align: left;
    }

    p {
        text-align: justify;
    }
    
    a {
        color: $TEMNOZELENA;        
        &:hover {
            color: $TEMNORDECA;
        }
    }
    
    ul {
      list-style-image: url('/images/malizlatikrogec.gif');
    }
    
    img {
        margin-bottom: 20px;
    }
    
    .form-control:focus {
        // border-color: #66afe9;
        // box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        border-color: $ZLATA;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $ZLATA06;
    }
}

// index
#panorama-banner {
    margin-bottom: 20px;
}

// about
#rsmm-about {
    .rsmm-container {
        position: relative;
        width: 100%;
    }
    
    .rsmm-overlay {
        position: absolute; 
        bottom: 0; 
        background: rgba($TEMNOZLATA, 0.5);
        color: $BELA;
        width: 100%;
        transition: .5s ease;
        opacity:0;
        font-size: 16px;
        font-weight: bold;
        padding: 12px;
        
        p {
            text-align: left;
            margin: 0px;
        }
    }

    .rsmm-container:hover .rsmm-overlay {
        opacity: 1;
    }    
}

// apartments
#rsmm-apartments {
    h4, p {
        text-align: left;
    }
    a {
        h4:hover {
            color: $TEMNOZLATA;
        }
    }
    
    .rsmm-one-apartment {
        border-color: $TEMNOZLATA;
        border-style: solid;
        border-width: 1px;
        padding: 15px 30px;
        margin-bottom: 30px;
        color: $text-color;
        
        &:hover {
            background-color: $SVETLOZLATA;
            h4 {
                color: $TEMNOZLATA;
            }
        }
    }
    
    .rsmm-ap-naslov {
        margin-bottom: 30px;
    }
}

// location
#rsmm-location {
    h4, p {
        text-align: left;
    }
    
    #map {
        height: 640px;
        margin-bottom: 30px;        
    }
    
}

// gallery
#rsmm-gallery {
    .carousel-caption {
        left: 30px;
        padding-bottom: 0px;
        text-align: left;
        p {
            font-size: 20px;
            margin-bottom: 0px;
            // text-shadow: none;
        }
    }
    
    img {
        width: 31%;
        margin-left: 3px;
        margin-right: 3px;
        margin-bottom: 10px;
    }
    
    p {
        text-align: left;
    }
    
    #gallery-popup-container {
        margin-bottom: 30px;                
    }
}
// changes for phone screen
@media (max-width: $screen-sm-min) { 
    #rsmm-gallery {
        img {
            width: 48%;
        }
    }
}

// reservation
#rsmm-reservation {
    label {
        color: $TEMNOZELENA;
    }
}

