---
---

// load fonts 
@font-face {
    font-family: 'Palanquin';
    src: url('/fonts/palanquin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arsenal';
    src: url('/fonts/arsenal-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// header and footer sizes
$rsmm-nav1-height: 60px;
$rsmm-nav2-height: 80px;
$rsmm-footer-height: 60px;

@import 'rsmmVariables';
@import 'bootstrap';
@import 'headfoot';

// custom settings
body {
    h1, h2, hr, h4, h5, h6 {
        color: $TEMNORDECA;
    }
    
    a {
        color: $TEMNOZELENA;        
        &:hover {
            color: $TEMNORDECA;
        }
    }

    img {
        margin-bottom: 20px;
    }
    
    #rsmmCarousel {
        img {
            margin-bottom: 0px;
        }
    }
    
    .rsmm-color-carousel-caption {
        color: $BELA;
        font-family: $font-family-sans-serif;
    }
} // body

// local pages settings 
@import 'local';

// socials
@import 'jssocials';
@import 'jssocials-theme-plain';
#social-share  { 
//    position: relative;
//    top: -20px;
//    margin-bottom: -20px;
    .jssocials-share-link { 
        border: 0; 
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }    
    .jssocials-share-email {
        .jssocials-share-link {
            padding-right: 0;
        }
    }
}

