---
---

// load fonts 
@font-face {
    font-family: 'Palanquin';
    src: url('/fonts/palanquin-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArsenalBold';
    src: url('/fonts/arsenal-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ArsenalBoldItalic';
    src: url('/fonts/arsenal-bolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

// header and footer sizes
$rsmm-nav-margin:       20px;
$rsmm-nav1-height:      60px;
$rsmm-nav1-height-xs:   100px;
$rsmm-nav2-height:      40px;
$rsmm-nav2-height-xs:   50px;
$rsmm-footer-height:    60px;
$rsmm-footer-height-xs: 90px;

@import 'rsmmVariables';
@import 'bootstrap';
@import 'headfoot';

// custom settings
body {
    h1, h2, h3, h4, h5, h6 {
        color: $ZLATA;
        text-align: center;
    }

    p {
        text-align: justify;
    }
    
    a {
        color: $TEMNOZLATA;        
        &:hover {
            color: $ZLATA;
        }
    }
    
    ul {
      list-style-image: url('/images/malizlatikrogec2.gif');
    }
    
    img {
        margin-bottom: 20px;
    }
    
    #rsmmCarousel {
        img {
            margin-bottom: 0px;
        }
    }
    
    .rsmm-color-carousel-caption {
        color: $BELA;
        font-family: Palanquin;
    }
} // body

// local pages settings 
@import 'local';

// socials
@import 'jssocials';
@import 'jssocials-theme-plain';
#social-share  { 
//    position: relative;
//    top: -20px;
//    margin-bottom: -20px;
    i {
        color: $BELA;
    }
    .jssocials-share-link { 
        border: 0; 
        padding-left: 5px;
        padding-right: 5px;
        font-size: 14px;
    }    
    .jssocials-share-email {
        .jssocials-share-link {
            padding-right: 0;
        }
    }
}

