---
---

// load fonts 
@font-face {
    font-family: 'Raleway';
    src: url('/fonts/raleway-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Allura';
    src: url('/fonts/allura-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArsenalBold';
    src: url('/fonts/arsenal-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


// barve
$ZELENA:    #A28142;    // to je v bistvu temno rumena
$RDECA:     #961F1B;
$BELA:      #FFFFFF;
$CRNA:      #000000;
$RUMENA:    #F7D895;

// senca za box-shadow: h-offset v-offset blur spread color
$VSENCA: 0px 0px 6px 0px rgba(0,0,0,0.6), 0px 0px 12px 0px rgba(0,0,0,0.3);
$MSENCA: 0px 0px 4px 0px rgba(0,0,0,0.6), 0px 0px 8px 0px rgba(0,0,0,0.3);
// senca za text-shadow: h-offset v-offset blur color
$TSENCA: 0px 3px 3px rgba(0,0,0,0.4);

// navigation
$top-height:        90px;
$bottom-height:     60px;
$left-width:        240px;
$body-min-width:    300px;

$medium-screen:     960px;
$small-screen:      620px;
$th-small-screen:   150px;


// general settings
body {
    min-width: $body-min-width;

    font-family: Raleway;
    
    h4 {
        font-family: Allura;
        font-size: 30px;
        color: $RDECA;
        text-align: left;
    }
    
    i.fa-circle-thin {
        font-size: 8px;
        top: 8px;
    }

    p {
        text-align: justify;
    }
    
    a {
        text-decoration: none;
        color: $ZELENA;        
        &:hover {
            color: $RDECA;
        }
    }
    
    img {
        margin-bottom: 20px;
    }
    
} // body


.w3-top {
    min-width: $body-min-width;
    color: $ZELENA;
    background-color: $BELA;
    font-family: Raleway;
    font-size: 15px;
    
    a, button {
        text-decoration: none;
        &:hover {
            color: $RDECA;
            background-color: rgba(255,255,255,0)!important;
        }
    }
    
    #logo-top {
        img {
            width: 200px;
            // margin-top: 12px;
        }
    }
} // w3-top


.w3-bottom {
    min-width: $body-min-width;
    background-color: $BELA;
    .jssocials-shares {
        margin-top: 12px;
    }
    i {
        color: $ZELENA;
        &:hover {
            color: $RDECA;
            background-color: inherit;
        }
    }
} // w3-bottom


.w3-sidebar {
    width: $left-width;
    padding-top: 45px; //$top-height;

    color: $ZELENA;
    font-family: ArsenalBold;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    
    a, button {
        text-decoration: none;
        text-shadow: $TSENCA;
        &:hover {
            color: $RDECA;
            background-color: rgba(255,255,255,0)!important;
        }
    }
    
    a.active {
        color: $RDECA;
    }
    
    img {
        width: 60%;
        margin-left: 16px;
        margin-bottom: 12px;
        // logo senca
        // box-shadow: $VSENCA;        
    }
} // w3-sidebar


.w3-main {
    margin-left: $left-width;
    
    .myContent {
        padding-top: $top-height;
        padding-bottom: $bottom-height;
    }
} // w3-main

@media screen and (max-width: $small-screen) {
    .w3-main {
        .myContent {
            padding-top: $th-small-screen;
        }
    } // w3-main
}

// zastave
$zastave-height: 25px;

#rsmm-zastave {
    float: right;
    padding-right: 10px;
        
    .rsmm-zastave-icon {
        color: $RDECA;
        font-size: 14px;
        margin: 0px 6px 12px 6px;
        float: left;
        height: $zastave-height;
        line-height: $zastave-height;
        text-align: center;
    }

    span {
        max-width: 24px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;      
    }

    .rsmm-zastave-image {
        height: $zastave-height;
        width: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        position: relative;
        top: -$zastave-height + 2px; // popravi+- za vertikalno lego zastavic
        &:hover {
            opacity: 0.0;
        }
    }

    img {
        height: 18px;
        width: auto;
    }
} // zastave


// index
#rsmm-index {
    #panorama-banner {
        margin-bottom: 30px;
    }
}


// about
#rsmm-about {
    .rsmm-container {
        position: relative;
        width: 100%;
        margin-top: 10px;
    }
    
    .rsmm-overlay {
        position: absolute; 
        bottom: 20px; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        padding: 12px;

        background: rgba($BELA, 0.6);
        color: $RDECA;

        font-family: ArsenalBold;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        
        p {
            text-align: left;
            margin: 0px;
        }
    }

    .rsmm-container:hover .rsmm-overlay {
        opacity: 1;
    }    
    
    img {
        box-shadow: $VSENCA;
    }
}


// apartments
#rsmm-apartments-OLD {
    h4 {
        color: $RDECA;
        font-family: ArsenalBold;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        text-align: left;
    }
    
    .rsmm-one-apartment {
//        border-color: $CRNA;
//        border-style: solid;
//        border-width: 1px;
        margin-bottom: 16px;
        color: $CRNA;
        font-weight: bold;
        
        img {
            width:100%;
            margin: 0;

            &:hover {
                opacity: 0.4;
            }
        }
    }
    
}


// apartments
#rsmm-apartments {
    h4 {
        color: $RDECA;
        font-family: ArsenalBold;
        font-size: 18px;
        font-weight: bold;
    }

    p {
        text-align: left;
    }
    
    .rsmm-container {
        position: relative;
    }

    img {
        box-shadow: $VSENCA;        
    }
    
    .rsmm-overlay {
        position: absolute; 
        bottom: 20px; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        padding: 8px 16px;

        background: rgba($BELA, 0.6);
        color: $CRNA;

        font-family: ArsenalBold;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        
        p {
            text-align: left;
            margin: 0px;
            span {
                text-transform: none;
            }
        }
        
    }

    .rsmm-container:hover .rsmm-overlay {
        opacity: 1;
    } 
    
    .rsmm-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 12vw);
        grid-gap: 24px;        
    }

    .rsmm-grid-item {
//        box-shadow: $SENCA;
    }

    @media screen and (max-width: $small-screen) {
        .rsmm-grid {
            // grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(12, 30vw);
        }
    }
    
}


// apartment details
#apartment-popup-container {
    img {
        // for grid
        width: 100%;
        height: 100%;
        object-fit: cover;
        // end of for grid
//        border-color: $CRNA;
//        border-style: solid;
//        border-width: 1px;
//        max-height: 240px;
        &:hover {
            opacity: 0.5;
        }
    }

    .carousel-caption {
        left: 30px;
        padding-bottom: 0px;
        text-align: left;
        p {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
    
    #gallery-popup-container {
        margin-bottom: 30px;                
    }
}


// location
#rsmm-location {
    #map {
        height: 640px;
        margin-top: 10px;        
        margin-bottom: 30px;        
    }
}


// gallery
#rsmm-gallery {
    img {
        // for grid
        width: 100%;
        height: 100%;
        object-fit: cover;
        // end of for grid
//        border-color: $CRNA;
//        border-style: solid;
//        border-width: 1px;
        box-shadow: $VSENCA;

        &:hover {
            opacity: 0.5;
        }
    }

    .carousel-caption {
        left: 30px;
        padding-bottom: 0px;
        text-align: left;
        p {
            font-size: 20px;
            margin-bottom: 0px;
        }
    }
    
    #gallery-popup-container {
        margin-bottom: 30px;                
    }
    
    .rsmm-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 13vw);
        grid-gap: 24px;        
    }

    .rsmm-grid-item {
//        box-shadow: $SENCA;
    }

    @media screen and (max-width: $medium-screen) {
        .rsmm-grid {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 21vw);
        }
    }

    @media screen and (max-width: $small-screen) {
        .rsmm-grid {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(9, 30vw);
        }
    }
}


// reservation
#rsmm-reservation {
//    label {
//        color: $ZELENA;
//    }

    iframe {
        width: 100%;
        height: 5000px;
        border: none;
    }

}

