<nav class="navbar navbar-default" id="rsmm-footer">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-text rsmm-foot-text">
                <span class="glyphicon glyphicon-earphone"></span>
                <a href="+386 1 123 123">+386 1 123 123</a>
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="#">info@vila-selena.si</a>
            </p>
        </div>        

        <div class="navbar-header navbar-right">
                <span id="social-share"></span>
        </div>        
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jssocials.min.js"></script>
