<nav class="navbar navbar-default" id="rsmm-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 small">
                <span>Vila Selena</span><br>
                <span>info@vila-selena.si</span><br>
                <span>041 123 123</span><br>
            </div>
            <div class="col-sm-6 small">
                <span class="pull-right" id="social-share"></span>
            </div>
        </div>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
<script src="/js/jssocials.min.js"></script>
<script>
    $("#social-share").jsSocials({
        showLabel: false,
        showCount: false,
        shares: ["twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "email"]
    });
</script>

