
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="author" content="{{ site.author }}">

<meta name="description" 
    content="Apartments Vila Selena">

<meta name="keywords" 
    content="apartments">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/favicon.ico" rel="icon">
<link rel="apple-touch-icon" href="/images/icon-apple.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
<link rel="stylesheet" type="text/css" href="/css/style.css" >

<meta name="google-site-verification" content="POPRAVI" />

