
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
<meta name="author" content="{{ site.author }}">

<meta name="description" 
content="Dovolite nam, da poskrbimo za to, da bodo vaši računalniki zanesljivo 
delovali in da bodo vaši podatki varno shranjeni.">

<meta name="keywords" 
content="računalniška pomoč doma, računalniška pomoč v pisarni, popravilo računalnika,
servis računalnika, vzdrževanje računalnikov, računalniška omrežja, popravilo omrežja,
računalniška oprema, varnostni pregled računalnikov, instalacije računalniških programov,
nastavitve računalniških programov, odpravljanje računalniških napak,
računalniško svetovanje, računalniško izobraževanje, pomoč pri nakupu računalnika">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="/favicon.ico" rel="icon">
<link rel="apple-touch-icon" href="/images/icon-apple.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    
<link rel="stylesheet" type="text/css" href="/css/style.css" >

<meta name="google-site-verification" content="Ff19tcSeqQ23MEZvcMGobOigzwuv7PSleCvy0gtwd2M" />

