<div class="row" id="rsmm-nav-top">

    <div class="col-sm-6" id="rsmm-zastave">

        <div class="navbar-text rsmm-zastave-icon">
            <span>SI</span>
            <div class="rsmm-zastave-image">
                <a href="/si/">
                    <img alt="SI" src="/images/flags/SLO.png">
                </a>
            </div>
        </div>

        <div class="navbar-text rsmm-zastave-icon">
            <span>EN</span>
            <div class="rsmm-zastave-image">
                <a href="/en/">
                    <img alt="EN" src="/images/flags/ENG.png">
                </a>
            </div>
        </div>

        <div class="navbar-text rsmm-zastave-icon">
            <span>DE</span>
            <div class="rsmm-zastave-image">
                <a href="/de/">
                    <img alt="DE" src="/images/flags/GER.png">
                </a>
            </div>
        </div>

        <div class="navbar-text rsmm-zastave-icon">
            <span>IT</span>
            <div class="rsmm-zastave-image">
                <a href="/it/">
                    <img alt="IT" src="/images/flags/ITA.png">
                </a>
            </div>
        </div>

        <div class="navbar-text rsmm-zastave-icon">
            <span>FR</span>
            <div class="rsmm-zastave-image">
                <a href="/fr/">
                    <img alt="FR" src="/images/flags/FRA.png">
                </a>
            </div>
        </div>

    </div>

    <div class="col-sm-6 rsmm-text-top text-right">
        <span class="glyphicon glyphicon-earphone"></span>
        <span>
            <a href="tel:+38611231212">+386 1 123 12 12</a>
        </span>

        <span>&nbsp;&nbsp;</span>

        <span class="glyphicon glyphicon-envelope"></span>
        <!-- <a href="#">info@vila-selena.si</a>  -->
        <span>
            <script type="text/javascript">eval(unescape("%6e%68%75%64%68%37%36%3d%5b%27%25%36%39%25%36%65%25%36%36%25%36%66%27%2c%5b%27%25%37%33%25%36%39%27%2c%27%25%37%36%25%36%39%25%36%63%25%36%31%25%32%64%25%37%33%25%36%35%25%36%63%25%36%35%25%36%65%25%36%31%27%5d%2e%72%65%76%65%72%73%65%28%29%2e%6a%6f%69%6e%28%27%2e%27%29%5d%2e%6a%6f%69%6e%28%27%40%27%29%3b%76%77%6d%6a%66%35%35%3d%27%69%6e%66%6f%40%76%69%6c%61%2d%73%65%6c%65%6e%61%2e%73%69%27%3b%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%76%77%6d%6a%66%35%35%2e%6c%69%6e%6b%28%27%6d%61%69%27%2b%27%6c%74%6f%3a%27%2b%6e%68%75%64%68%37%36%29%29%3b"));</script>
        </span>
    </div>

</div>
