<nav class="navbar navbar-default navbar-fixed-top" id="rsmm-nav-1">
    <div class="container">
        
        <div class="navbar-header">
            <!-- <p class="navbar-text rsmm-nav-1-text">
                <a href="reservation.html">RESERVATION</a>
            </p> -->
        </div>        

        <div class="navbar-header navbar-right" id="rsmm-zastave">
            <p class="navbar-text rsmm-nav-1-text">
                <span class="glyphicon glyphicon-earphone"></span>
                <a href="tel:+38611231212">+386 1 123 12 12</a>
                &nbsp;&nbsp;
                <span class="glyphicon glyphicon-envelope"></span>
                <a href="#">info@vila-selena.si</a>
            </p>

            <div class="navbar-text rsmm-zastave-icon">
                <span>SI</span>
                <div class="rsmm-zastave-image">
                    <a href="/si/">
                        <img alt="SI" src="/images/flags/SLO.png">
                    </a>
                </div>
            </div>

            <div class="navbar-text rsmm-zastave-icon">
                <span>EN</span>
                <div class="rsmm-zastave-image">
                    <a href="/en/">
                        <img alt="EN" src="/images/flags/ENG.png">
                    </a>
                </div>
            </div>

            <div class="navbar-text rsmm-zastave-icon">
                <span>DE</span>
                <div class="rsmm-zastave-image">
                    <a href="/de/">
                        <img alt="DE" src="/images/flags/GER.png">
                    </a>
                </div>
            </div>

            <div class="navbar-text rsmm-zastave-icon">
                <span>IT</span>
                <div class="rsmm-zastave-image">
                    <a href="/it/">
                        <img alt="IT" src="/images/flags/ITA.png">
                    </a>
                </div>
            </div>

            <div class="navbar-text rsmm-zastave-icon">
                <span>FR</span>
                <div class="rsmm-zastave-image">
                    <a href="/fr/">
                        <img alt="FR" src="/images/flags/FRA.png">
                    </a>
                </div>
            </div>
        </div>        
        
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" id="rsmm-nav-margin-1">
</nav>

<nav class="navbar navbar-default navbar-fixed-top" id="rsmm-nav-2">
    <div class="container">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            
            {% if page.nav == 'index' %}
                {% assign active = 'brand-active' %}
            {% else %}
                {% assign active = '' %}
            {% endif %}
            <a class="navbar-brand  {{ active }}" href="/{{ page.language }}/">Vila Selena</a>
        </div>

        <div class="collapse navbar-collapse" id="top-navbar">
            <ul class="nav navbar-nav">
                
                {% assign navlang = 'navigation_' | append: page.language %}
                
                {% for node in site.data[navlang] %}

                    {% if page.nav == node.nav %}
                        {% assign active = 'active' %}
                    {% else %}
                        {% assign active = '' %}
                    {% endif %}

                    {% if node.subcategories != null %}
                        <li class="dropdown {{ active }}">
                            <a href="{{ site.url }}{{ node.href }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                {{ node.title }} <span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                {% for subcategory in node.subcategories %}
                                <li><a href="{{ site.url }}{{ subcategory.subhref }}">{{ subcategory.subtitle }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>

                    {% else %}
                        <li class="{{ active }} {{ brand }}">
                            <a href="{{ site.url }}{{ node.href }}">{{ node.title }}</a>
                        </li>

                    {% endif %}

                {% endfor %}

            </ul>
        </div>
    </div>
</nav>

<nav class="navbar navbar-default navbar-fixed-top" id="rsmm-nav-margin-2">
</nav>

