<div id="rsmm-zastave">

    <div class="rsmm-zastave-icon">
        <span>DE</span>
        <div class="rsmm-zastave-image">
            <a href="/de/about.html">
                <img alt="DE" src="/flags/GER.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>EN</span>
        <div class="rsmm-zastave-image">
            <a href="/en/about.html">
                <img alt="EN" src="/flags/ENG.png">
            </a>
        </div>
    </div>

    <div class="rsmm-zastave-icon">
        <span>SI</span>
        <div class="rsmm-zastave-image">
            <a href="/si/about.html">
                <img alt="SI" src="/flags/SLO.png">
            </a>
        </div>
    </div>

</div>
