<!DOCTYPE html>
<html class="no-js" lang="{{ page.language }}">    
    <head>
        {% include google_analytics.html %}
        {% include head.html %}    
    </head>
    <body>

        <div class="container-fluid">
            {% include navigation_top.html %}
            <div class="row">
                <div class="col-sm-2">
                    {% include navigation_left.html %}
                </div>
                <div class="col-sm-10">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include footer.html %}
        {% include cookieconsent.html %}
    </body>
</html>

